{% extends 'base.html.twig' %}

{% block title %}Details proprietes{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row bg-primary-subtle p-3">
            <div class="col-md-8">
                {% if property.filename %}
                    <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('my_thumb') }}" alt="card-img-top" style="width: 100%; height: auto">
                    {% else %}
                    <img src="{{ '/images/properties/scott.jpg' | imagine_filter('my_thumb') }}" alt="card-img-top" style="width: 100%; height: auto">
                {% endif %}
            </div>

            <div class="col-md-4">
                <h1>{{ property.title }}</h1>
                <h2>{{ property.rooms }} pieces - {{ property.surface }} m2</h2>
                <div class="text-primary" style="font-size: 3rem; font-weight: bold;">{{ property.price | number_format (0, '', ' ')}} FCFA</div>
                <a href="" class="btn btn-primary">Contacter l'agence</a>
            </div>
        </div>

        <p class="mt-2">
            {{ property.description | nl2br }}
        </p>

        <div class="row">
            <div class="col-md-8">
                <h2>Caracteristiques</h2>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Surface habitable</td>
                            <td>{{ property.surface }}</td>
                        </tr>
                        <tr>
                            <td>Pieces</td>
                            <td>{{ property.rooms }}</td>
                        </tr>
                        <tr>
                            <td>Chambre</td>
                            <td>{{ property.bedrooms }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <h2>Specificites</h2>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    
        {# <table class="table">
            <tbody>
                <tr>
                    <th>City</th>
                    <td>{{ property.city }}</td>
                </tr>
                <tr>
                    <th>Sold</th>
                    <td>{{ property.sold ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Created_at</th>
                    <td>{{ property.createdAt ? property.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table> #}
    
        <a href="{{ path('app_property_index') }}">back to list</a>
    
        <a href="{{ path('app_property_edit', {'id': property.id}) }}">edit</a>
    
        {{ include('property/_delete_form.html.twig') }}
    </div>
{% endblock %}
